@tailwind base;
@tailwind components;
@tailwind utilities;

/* css section for audio display and control*/
#audio-progress-bar {
    -webkit-appearance: none;
    width: 100%;
    background: #61c1c9;
    border-radius: 4px;
    cursor: pointer;
    height: 6px;
}

#audio-progress-bar::-webkit-slider-thumb {
    -webkit-appearance: none;
    background: #023535;
    width: 30px;
    height: 30px;
    border: 8px solid #386E7D;
    border-radius: 50%;
    box-shadow: 0 4px 4px 0 #00000040;
}

.flex-center {
    @apply flex flex-wrap justify-center items-center;
}

.audio-control-container {
    color: #61c1c9;
    font-size: 40px;
}

.videoContainer {
    width: 100%;
    overflow: hidden;
    position: relative;
    padding-top: 56.25%;
    /* Aspect ratio: 16:9 */
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
}

.videoContainer iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: 0;
}

/* Timeo parcours animated section*/
.pulsin-icon {
    transition: all 0.3s ease;
}

.signal-line {
    transition: background-position 0.5s ease, opacity 0.5s ease;
    background-size: 200% 200%;
    background-image: linear-gradient(90deg,
            transparent,
            slategray 20%,
            #e2e8f0 50%,
            /* slate-200 color with thickness */
            slategray 80%,
            transparent);
}

.multi-line-ellipsis {
    display: block;
}
@media (max-width: 1024px) {

    /* Style about timeo section*/
    .multi-line-ellipsis {
        display: -webkit-box;
        -webkit-line-clamp: 7;
        /* Number of lines to display */
        -webkit-box-orient: vertical;
        overflow: hidden;
        text-overflow: ellipsis;
        line-height: 1.5;
    }
}


#flower-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    pointer-events: none; /* Ensures the flowers don't block interaction */
    z-index: 100; /* Ensure it's on top of the page content */
  }
  
  .flower {
    position: absolute;
    width: 30px;
    height: 30px;
    background-image: url('leave-icon2.png'); /* Path to your flower image */
    background-size: contain;
    background-repeat: no-repeat;
    opacity: 0.8;
  }

  html {
    scroll-behavior: smooth;
  }

  .video-temoignage iframe {
    width: 100% !important;
    height: 100% !important;
    border: none;
  }

  